*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 610px;
    background: url(bg\ 6.jpg);
    background-position: center;
    background-size: cover;
}

.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #4682b4;
    font-family: Arial;
    font-size: 35px;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 65px;
    margin-top: 30px;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

ul li a:hover{
    color: #4682b4;
}

.search{
    width: 350px;
    float: left;
    margin-left: 350px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #4682b4;
    margin-top: 15px;
    border-right: none;
    font-size: 15px;
    color: white;
    float: left;
    padding: 8px;
    border-top-left-radius: 7px;
}

.btn{
    width: 100px;
    height: 40px;
    background-color: #4682b4;
    border: 2px solid #4682b4;
    margin-top: 15px;
    font-size: 15px;
    color: white;
    border-bottom-right-radius: 7px;
}

.srch:focus{
    outline: none;
}

.btn:focus{
    outline: none;
}

.content{
    width: 900px;
    height: auto;
    margin-left: 30px;
    color:white;
    position: relative;
}

h2{
    padding-left: 25px;
    padding-bottom: 30px;
    padding-top: 80px;
    letter-spacing: 2px;
    line-height: 40px;
    font-size: 30px;

}

span{
    font-size: 40px;
    color: #4682b4;
}

.para{
    padding-left: 25px;
    padding-bottom: 30px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.cn{
    width: 150px;
    height: 50px;
    margin-left: 25px;
    background: #4682b4;
    border: none;
    border-radius: 5px;
}

.cn a{
    color: black;
    text-decoration: none;
    font-weight: bold
}

.cn:hover{
    background-color: white;
}

.form{
    width: 250px;
    height: 380px;
    background-color: rgba(0,0,0,0);
    position: absolute;
    margin-left: 830px;
    margin-top: -350px;
    border: 1px solid #4682b4;
    border-radius: 10px;
}

.log{
    width: 220px;
    height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #4682b4;
    text-align: center;
    margin-left: 15px;
    margin-top: 15px;
    padding-top: 10px;
    border-radius: 10px;
}

.form input{
    width: 250px;
    height: 30px;
    background: transparent;
    border-bottom: 1px solid #4682b4;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    margin-top: 20px;   
    letter-spacing: 1px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #4682b4;
    text-align: center;
}

.bttn{
    width: 150px;
    height: 40px;
    font-size: 15px;
    background-color: #4682b4;
    font-family: sans-serif;
    font-size: 20px;
    color: white ;
    margin-top: 25px;
    margin-left: 50px;
    border: none;
    border-radius: 10px;
}

.bttn:hover{
    color: #4682b4;
    background-color: white;
}

.link{
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
}

.form a{
    text-decoration: none;
    color: #4682b4;
    font-family: sans-serif;
}

.liw{
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
}

.icon{
    margin-top: 25px;
    margin-left: 20px;
}

.icon a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 25px;
}

.icon a:hover{
    color: #4682b4;
}
